@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

body {
    background: linear-gradient(rgb(255, 235, 153), rgb(255, 207, 86) 95%);
}

h1 {
    margin: 20px 20px 0px;
    font-size: 50px;
    text-align: center;
    font-family: "Concert One", sans-serif;
    color: rgb(99, 43, 0);
}

.caption {
    text-align: center;
    font-size: 15px;
    color: rgb(174, 103, 11);
    margin-bottom: 20px;
}

.card {
    width: 30rem;
    max-width: 40rem;
    height: 50rem;
    margin: 2%;
    background-color: beige;

    border: 2px solid rgb(255, 190, 13);
    border-radius: 20px;

    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: space-around;
    flex-grow: 1;

    filter: drop-shadow(-15px 15px 0px rgba(255, 143, 6, 0.346));
    transition: all 0.5s;
}

.container {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    /*flex direction, flex wrap*/
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.card-img {
    padding: 20px;
    width: 90%;
    height: 70%;
    object-fit: cover;
    border-radius: 30px;
}

.card-header {
    font-size: 4rem;
    margin-top: 1rem;
    text-align: center;
    color: rgb(174, 103, 11);
}

.card-desc {
    margin: 0 2rem 2rem;
    font-size: 1.5rem;
    color: rgb(99, 43, 0);
    text-align: center;
}

.animation {
    width: 20rem;
    height: 20rem;
    position: absolute;
    animation: demo 5s infinite;
}

#mango:hover,
#koi3:hover {
    transform: scale(1.1) translate(0);
    background-color: rgb(248, 248, 234);
    filter: drop-shadow(0 0 10px rgba(255, 143, 6, 0.473));
}

#mango2:hover,
#zigzag:hover {
    transition: all 1s;
    transform: rotate(1turn) scale(1.1);

}

#mango3:hover,
#forgot:hover {
    transform: skew(-10deg, -5deg);
    filter: drop-shadow(30px 30px 0px rgba(255, 143, 6, 0.346));
}

#koi:hover,
#forgot2:hover {
    transform: rotatey(360deg) scale(1.1);
    /* chat gpt tells me rotatey is WRONG but i want it to flip on the y axis */
    filter: drop-shadow(-15px 0px 20px rgba(255, 143, 6, 0.346));
}

#koi2:hover {
    background-color: rgb(255, 238, 0);
    filter: drop-shadow(-15px 15px 20px rgb(255, 0, 183));

    .card-header {
        color: rgb(0, 157, 255);
    }

    .card-desc {
        color: rgb(255, 0, 179);
    }
}

@media screen and (max-width: 1100px) {

    .container {
        flex-direction: row;
        align-items: center;
    }

    .card {
        width: 50%;
    }

}


@media screen and (max-width: 800px) {

    /*when screen has this max width something happens. later takes presedence. bigger has to be first.  */
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

}