body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* inspect element -> layout to play with settings */

.card {
    /*(1 rem = 30 pixels)*/
    /*30% for percent*/
    margin: 5%;
    height: 35rem;
    border: 2px solid black;
    border-radius: 5%;

    flex-grow: 1;
    width: 350px;
    max-width: 800px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /*     background-image: url(R.jfif);
    background-size: cover; */
    /*evenly distributes*/
}

.container {
    display: flex;
    flex-flow: row wrap;
    /*flex direction, flex wrap*/
    align-items: center;
    justify-content: space-around;
}

.card-img {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.card-header {
    font: 2.2rem;
    margin-top: 2rem;
}

card-desc {}